CPF_PARA_LOGIN=42470689899

SENHA=010621

SANTANDER_URL="https://www.santander.com.br/"

TAX_ID="42470689899"
PASSWORD="_XiyyZYLGRb8x%mUn"
FOLDER_PATH="/home/ch3did/code/pessoal/monetary-maid/"

PO_INVESTMENT=0.001
PO_BIG_SAVE=0.1
PO_MONTH_EMERGENCY=0.025

DEBUG=""

DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT="5432"
